/* =============RESET============ */
* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==============Cabeçalho============ */
.cabecalho {
    background: url("../img/bg-flores.jpg") no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 2.6em;
    filter: brightness(150%);
    border-bottom: 2px solid white;
}

.logo {
    float: right;
    color: #fff;
    position: relative;
    bottom: 6vh;
    left: 5vh;
}

/* =============Navegação============== */
.menu {
    width: 100%;
    height: 1.3em;
    ;
    background-color: #9ea41c;
}

.menu ul li {
    display: inline;
}

.menu ul li {
    margin: 0.8em;
    border: 1px solid #fff;
    padding: 19px;
}

.menu ul li>a {
    color: black;
    font-size: 1.2em;
    font-family: serif;
    font-weight: 500;
}

/* ================Principal=========== */
.conteudo section {
    width: 90vw;
    height: 4vh;
    padding: 3% 3% 3% 2%;
    text-align: left;
    float: left;
}

.conteudo div .css {
    color: #767678;
}

.conteudo span {
    color: #aa210f;
    text-decoration: underline;
}

.coments {
    margin-top: 15px;
    text-align: center;
    padding-left: 14em;
    ;
}

.conteudo a {
    color: #aa210f;
    text-decoration: underline;
}

.textos {
    width: 60%;
    font-size: 1.2em;
    text-align: justify;
}

.conteudo h1 {
    color: #aa2901;
}

.conteudo h2 {
    color: #575d2f;
    margin-bottom: 25px;
}

.conteudo img {
    width: 50%;
}

.conteudo figure {
    float: right;
    position: relative;
    bottom: 27em;
    left: -9%;
}

/* ============Conteúdo Auxiliar======== */
.conteudo .auxiliar {
    width: -90em;
    height: 100vh;
    float: right;
    margin-right: 8em;
}

.auxiliar h3 {
    color: #5a5c2a;
    margin-bottom: 15px;
}

.auxiliar nav ul li a {
    padding: 15px;
}

.auxiliar ul li {
    padding: 2px;
    text-decoration: underline;
    ;
}

.auxiliar ul li a {
    color: #a82624;
    font-size: 1.2em;
}

.rodape {
    float: left;
    width: 100%;
    height: 2em;
    background-color: #9ea41c;
}

.rodape>p {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
}